In [1]:
import numpy as np
import pandas as pd

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

from matplotlib import pyplot as plt
import seaborn as sns

import graphviz
import pydotplus
import io

from scipy import misc

%matplotlib inline

In [2]:
data=pd.read_csv('data1.csv')

In [3]:
data.describe()

,Policy1,No_Kids,Age,Maratial_status,Gender,Income,Education,Smoking.and.alcohol,Weight,Height,Term,sumAssured
count,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3999.000000,3.999000e+03
mean,4.924231,0.810453,31.290073,0.638410,0.496624,22.817954,1.692673,0.482871,77.788697,169.810203,24.809202,4.662456e+06
std,1.947667,0.842577,14.260367,0.480521,0.500051,30.147841,0.976627,0.499769,18.908513,11.928113,9.301834,6.455826e+06
min,1.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,45.000000,150.000000,10.000000,7.914500e+04
25%,4.000000,0.000000,23.000000,0.000000,0.000000,1.000000,1.000000,0.000000,62.000000,159.000000,20.000000,3.000000e+05
50%,5.000000,1.000000,27.000000,1.000000,0.000000,6.000000,2.000000,0.000000,78.000000,170.000000,23.000000,1.340821e+06
75%,7.000000,2.000000,39.000000,1.000000,1.000000,41.000000,2.000000,1.000000,94.000000,180.000000,27.000000,7.500000e+06
max,8.000000,2.000000,70.000000,1.000000,1.000000,100.000000,3.000000,1.000000,110.000000,190.000000,70.000000,5.420000e+07

In [7]:
train,test=train_test_split(data,test_size=0.2)

In [8]:
print("Training size: {} Test Size:{}".format(len(train),len(test)))

Training size: 3199 Test Size:800

In [10]:
features=["No_Kids","Age","Maratial_status","Gender","Income","Education","Smoking.and.alcohol","Weight","Height","Term","sumAssured"]
X_train=train[features]
Y_train=train["Policy1"]
X_test=test[features]
Y_test=test["Policy1"]